venv/
__pycache__/
*.pyc
.env

# datasets
data/images_raw/
data/labels_raw/
data/masks_raw/
data/yolo/
data/*.zip
data/*.csv

# model weights
*.pt
*.onnx

# training runs
runs/

# outputs
outputs/

# OS
.DS_Store
Thumbs.db